h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal !important;
  font-size: 40px !important;
  text-align: center;
  color: #e31b6d;
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 26px;
  display: inline;
  padding-left: 30px;
  padding-top: 20px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 19px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  width: 1200px;
}

span {
  color: #e31b6d;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  width: 100%;
  margin: 0;
}

main {
  width: 1200px;
  margin: 0px auto;
}
/***** GRID *****/

.nav-bar {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
  background-color: #04c2c9;
  color: #dedbdc;
  text-transform: uppercase;
  height: 60px;
}

.hero-banner {
  width: 1200px;
  margin: 0 auto;
  clear: both;
  overflow: auto;
  background-color: #04c2c9;
  color: #dedbdc;
  text-transform: uppercase;
  border-bottom: solid #102b34 5px;
  height: 280px;
}

.hero-width {
  width: 800px;
  float: left;
  padding-top: 110px;
}

.hero-button{
  width: 400px;
  float: left;
}

.button {
  color: #e31b6d;
  border: solid #e31b6d 3px;
  width: 150px;
  text-align: center;
  padding: 8px 0 8px 0;
  font-weight: 500;
  margin-top: 115px;
  margin-left: 40px;
}

#about {
  width: 1200px;
  margin: 0 auto;
  background-color: white;

}

.about-img {
  width: 300px;
  float: left;
  clear: both;
}

.about-copy {
  width: 900px;
  float: right;
}

.skill-one {
  width: 450px;
  float: left;
  box-sizing: border-box;
}

.skill-two {
  width: 450px;
  float: left;
  box-sizing: border-box;
}

#work {
  clear: both;
  width: 1200px;
}

.half-width {
  width: 600px;
  float: left;
}

#contact {
  width: 1200px;
}
/***** Nav *****/
 nav ul li {
   list-style-type: none;
   display: inline-block;
   padding-left: 25px;
   padding-top: 16px;
 }

 nav {
   padding-right: 30px;
   font-weight: 800;
 }

 nav ul {
   display: inline-block;
 }
